.footer {
  padding: 2rem 0;
  text-align: center;
  font-size: 0.875rem;
  color: #fff;
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1rem;
}

.linksList {
  display: flex;
  gap: 2rem;
  list-style: none;
  font-weight: 600;
}

.copyright {
  display: block;
  font-weight: 600;
}

@media (min-width: 768px) {
  .footer {
    padding: 2.5rem 0;
  }

  .links {
    flex-direction: row;
    gap: 1.5rem;
  }
}
